<table>
    <thead>
        <tr>
            <th>
                Patient ID
            </th>
            <th>First Name</th>
            <th>Last Name</th>

        </tr>
    </thead>
    %results. forEach(row=>{%>
        <tr>
            <td>
                <%= row.Patient_id %>
            </td>
            <td>
                <%= row.first_name %>
            </td>
        </tr>
    })
</table>