* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 20px;
}

header {
  color: brown;
  text-align: center;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1 1 30%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  background-image: linear-gradient(to right, rgb(221, 215, 221), indigo);
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1 1 30%;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  padding-right: 50px
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}

.content {
  display: contents;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: right;
}

.con1 {
  flex: 1 1 30%;
  text-align: center;
  content: "";
  font-family: poppins;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgb(199, 194, 199), indigo);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.con2 {
  flex: 1 1 30%;
  text-align: center;
  margin: 10px;
  min-width: 200px;
  background-image: linear-gradient(
    to left,
    rgba(190, 183, 179, 0.89),
    rgb(146, 122, 192)
  );
  color: linear-gradient(to left, rgb(31, 3, 95), rgb(122, 176, 192));
  -webkit-text-fill-color: purple;
  color: rgba(8, 90, 90, 0.726);
  font-size: small;
  align-items: center;
  
}

.img1 {
  flex: 1 1 30%;
  display: block;
  align-items: center;
  height: 300px;
  width: 400px;
  border: 0;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.img2 {
  flex: 1 1 30%;
  position: relative;
  align-items: center;
  height: 300px;
  width: 400px;
  margin-top: 20px;
  border: 0;
  border-radius: 20px;
  
  margin-bottom: 20px;
}

#sidebar {
  width: 200px;
  padding: 10px;
  float: right;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1 1 30%;
}

#sidebar ul {
  list-style: none;
  margin: 0;
}

#sidebar a {
  text-decoration: none;
  color: rgba(129, 75, 4, 0.678);
}

#sidebar a:hover {
  text-decoration: underline;
  color: blue;
}

#sidebar button {
  width: 100px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  background-color: bisque;
  color: black;
  cursor: pointer;
  transition: 1.5s;
}

#sidebar button:hover {
  background-color: black;
  color: wheat;
}

footer {
  background-color: #f0f0f0;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 1 30%;
}

footer li {
  display: inline-block;
  margin-right: 20px;
  padding-right: 50px;
  padding-top: 60px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  [class*='col-'] {
    flex: 1 1 100;
  }
}
@media only  screen  and (min-width: 768px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}