@tailwind base;
@tailwind components;
@tailwind utilities;

body{
}

li img{
  @apply py-5 m-auto;
  z-index: 20;
  position: relative;
  pointer-events: none;
 /* margin-auto:to center the image py:for top and bottom padding*/
}

li{
  width:100%;
  background-size: 10px;
  position: relative;
}
li:hover::before{
  width:100%;
}
li::before{
  @apply bg-blue-600;
  content:"";
  position:absolute;
  width:0;
  height:100%;
  z-index: 10;
  transition: width 150ms linear;
}